<h1>All Tags</h1>

<ul id="articles" class="list-group">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag, tag_path(tag) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create a New Tag', new_article_path, class: 'new_article' %>